<footer class"footer">
	<small>
		I'm the footer. I'd like to stick to the bottom…
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "News", "#" %></li>			
		</ul>
	</nav>
</footer>